includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - public/index.php
        - routes/

    # Level 10 is the highest level
    level: 9

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
